<form>
  <div class="form-group">
    <label for="securityQuestion">Select your security question:</label>
    <select class="form-control" id="securityQuestion" name="securityQuestion" [(ngModel)]="question">
      <option></option>
      <option *ngFor="let option of options" [value]="option.value">{{ option.title }}</option>
    </select>
  </div>
  <div class="form-group" *ngIf="question == 'color'">
    <label for="color">Specify the color:</label>
    <input type="color" class="form-control" id="color" />
  </div>
  <div class="form-group" *ngIf="question == 'time'">
    <label for="time">Current time:</label>
    <input type="text" readonly class="form-control-plaintext" id="time" name="time" [ngModel]="time" />
  </div>
  <div class="form-group" *ngIf="question == 'breakfast'">
    <label for="breakfast">Specify your breakfast:</label>
    <select class="form-control" id="breakfast" name="breakfast">
      <option>Cereal</option>
      <option>None</option>
    </select>
  </div>
  <div class="form-group" *ngIf="question == 'question'">
    <label for="question">Specify question:</label>
    <select class="form-control" id="question" name="question" [(ngModel)]="question">
        <option></option>
        <option *ngFor="let option of options" [value]="option.value">{{ option.title }}</option>
      </select>
  </div>
</form>